html {
    font-size: 62.5%;
    /** Reset  REMS  65,5% = 10px of 16px**/
    width: 100vw;
    
  }
  
  body {
      box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(to left, #2ebf91, #8360c3);
    overflow: hidden;

  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* Globals */
  
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3.8rem;
  }
  
  h2 {
    font-size: 3.4rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 2.6rem;
  }
  
  a,ul{
    
      list-style: none;
      text-decoration: none;
      color: white;
      cursor: pointer;
  }

  /* nav style */
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: max-content;
      padding: 1rem;
  }
  /* nav logo */
    .logo{
        width: fit-content;
        max-width: 16rem;
    }
    .logo img{
        width: 100%;
    }
    /* nav menu */
    .menu{
        width: fit-content;
        height: 100%;
    }
    .menu .main_menu{
        display: flex;
       width: 100%;
       text-transform: uppercase;
       min-width: 15rem;
       margin: 0;
       padding: 0;
       position: relative;
       
    }
    .main_menu>li{
        margin-left: 5rem;
        height: 3rem;
    }
    .main_menu>li:first-of-type{
        margin: 0;

    }
   .main_menu>li:hover{
        border-bottom: rebeccapurple 4px solid;
        transition: .3s ease-in-out;
    }
    .drop_menu{
        display: none;
        padding: 0;
    }
    .drop_menu li{
        display: flex;
        align-items: center;
        width: 100%;
        height: 5rem;
        padding:  1rem;
        
    }
    .drop_menu li:hover{
        background-color: rgba(131, 96, 195, 0.287);
        transition: all .5s ease-in-out;
        transform: scaleX(1.1);
    }

    .dm1,.dm2,.dm3{
        
        overflow: hidden;
        width: 17rem;
        height: fit-content;
        position: absolute;
        top: 3rem;
        right: calc(100% - 12.2rem) ;
        background-color: rgba(82, 165, 180, 0.575);
    }

    .dm2{
        
        position: absolute;
        top: 3rem;
        right: calc(100% - 26.3rem) ;
    }
    .dm3{
       
        position: absolute;
        top: 3rem;
        right: 0;
    }

    .main_menu>li:nth-child(1):hover .dm1{
        display: block;
    }
    .main_menu>li:nth-child(2):hover .dm2{
        display: block;
    }
    .main_menu>li:nth-child(3):hover .dm3{
        display: block;
    }
       /* burger menu */
       .active{
           display: initial;
        position: absolute;
        top: 11em;
        left:15%;
        width: 100%;
   
      }
.mmenu {
    display: none;
    background-color: #22222298;
  }
  
  .bmenu {
    
    width: 80px;
    height: 80px;
    border: 1px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .barra {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  
  .barra::before,
  .barra::after {
    position: absolute;
    content: "";
    height: 6px;
    width: 50px;
    border-radius: 5px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
  
  .barra::before {
    transform: translateY(-16px);
  }
  
  .barra::after {
    transform: translateY(16px);
  }
  
  .bmenu.hover .barra {
    background-color: transparent;
  }
  .bmenu.hover .barra::before {
    background-color: red;
    transform: rotate(-45deg)  ;
  }
  
  .bmenu.hover .barra::after {
    background-color: red;
    transform: rotate(45deg) ;
  }
  

    @media (max-width:650px){
        body{
            overflow: hidden;
         
        }
        .container{
           
            position: relative;          
            padding: 0;
            margin: 0;
        }
        .menu .main_menu{
      position: absolute;
      right: 110%;
      
        }
        
        .mmenu {
            display: flex;
          }
          .dm3{
        
            left: 35%;
       }

         
    }
    @media (max-width:400px){
        .active{
            left: 0;
        }
        .dm1{
        
             left: 0;
        }
        .dm3{
        
            left: 45%;
       }
       .fa-chevron-down{
            display: none;
        }
    }

   


 